.sidenav-container {
  height: 100%;
  background-color: lightyellow;

}

.sidenav {
  width: 200px;
  background-color: lightyellow;
}

.mat-nav-list{
  background-color: seashell;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

