div {
  width: 100%;

}

table {
  width: 75%;
  margin-top:50px;
  margin-left:300px;

}

.mat-form-field {
  font-size: 14px;
  margin-top:50px;
  margin-left:300px;
  width: 75%;
}
mat-paginator {
  width: 75%;
  margin-left:300px;
}
