<h2 mat-dialog-title>Dialog</h2>

<mat-dialog-content [formGroup]="SearchClinicsGroup">

  <div>
    <mat-form-field class="example-full-width">
      <input matInput id="date" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select id="type" placeholder="Select examination type">
        <mat-option *ngFor="let examination_type of types" value="option">{{examination_type.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Search</button>
</mat-dialog-actions>

