<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Add Clinic name">
    </mat-form-field>
  </li>
 <li>
   <mat-form-field>
     <input matInput [(ngModel)]="address" placeholder="Add Clinic address.">
   </mat-form-field>
 </li>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="description" placeholder="Add Clinic description.">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="grade" placeholder="Add Clinic grade.">
    </mat-form-field>
  </li>
</ol>
<button mat-raised-button style="position: center" color="primary" class="pull-right">Save</button>
